services:
  metube:
    image: ghcr.io/alexta69/metube:latest
    container_name: metube
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - UID=1000
      - GID=1000
      - UMASK=022
    volumes:
      - ${MEDIA_ROOT}/metube:/downloads
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.metube.rule=Host(`metube.${BASE_DOMAIN}`)"
      - "traefik.http.routers.metube.entrypoints=web"
      - "traefik.http.services.metube.loadbalancer.server.port=8081"
      - "diun.enable=true"
    networks:
      - traefik

networks:
  traefik:
    external: true
